#servicesSection {
    margin-top: 3rem;
}
#servicesSection .service-desc {
    margin-bottom: 1.5rem;
}
#servicesSection .service-each {
    margin-bottom: 7rem;
}
#servicesSection .service-each .button:not(:last-child) {
    margin-right: 1rem;
}
#servicesSection .service-img {
    margin-top: 1.5rem;
    background: lightgray;
    height: 300px;
    position: relative;
    left: -1rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#servicesSection .service-img img {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
    object-fit: cover;
}
#servicesSection .service-img-reverse {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    left: auto;
    right: -1rem;
}
#servicesSection .service-img-reverse img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
    object-fit: cover;
}